services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel run
    volumes:
      - /etc/cloudflared:/etc/cloudflared
    networks:
      - frontend

networks:
  frontend:
    external: true
