# playbooks/roles/cloudflared/tasks/main.yml

- name: Ensure apt keyring directory exists
  file:
    path: /etc/apt/keyrings
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Add Cloudflare GPG key
  ansible.builtin.get_url:
    url: https://pkg.cloudflare.com/cloudflare-main.gpg
    dest: /etc/apt/keyrings/cloudflare-main.gpg
    mode: '0644'

- name: Add Cloudflare apt repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/cloudflare-main.gpg] https://pkg.cloudflare.com/cloudflared {{ ansible_distribution_release }} main"
    state: present
    filename: cloudflared

- name: Install cloudflared
  ansible.builtin.apt:
    name: cloudflared
    state: present
    update_cache: yes

- name: Ensure cloudflared directory exists
  file:
    path: /etc/cloudflared
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Deploy cloudflared config
  template:
    src: cloudflared-config.yml.j2
    dest: /etc/cloudflared/config.yml
    owner: root
    group: root
    mode: '0644'

- name: Debug vault_cloudflared_credentials
  debug:
    var: vault_cloudflared_credentials

- name: Debug tunnel id
  debug:
    var: cloudflared_tunnel_id

- name: Deploy cloudflared tunnel credentials
  copy:
    dest: "{{ cloudflared_config_dir }}/{{ cloudflared_tunnel_id }}.json"
    content: "{{ vault_cloudflared_credentials }}"
    owner: root
    group: root
    mode: '0600'

- name: Configure cloudflared systemd service (credentials mode)
  template:
    src: cloudflared.service.j2
    dest: /etc/systemd/system/cloudflared.service
    owner: root
    group: root
    mode: '0644'

- name: Reload systemd and enable cloudflared
  systemd:
    daemon_reload: true
    name: cloudflared
    enabled: true
    state: started
