services:
  traefik:
    image: traefik:v3.6.1
    container_name: traefik
    restart: unless-stopped
    env_file:
      - {{ traefik_env_file }}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # Static and dynamic configs
      - /opt/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - /opt/traefik/dynamic.yml:/etc/traefik/dynamic.yml:ro

      # ACME storage (certificates)
      - {{ traefik_acme_storage }}:{{ traefik_acme_storage }}

      # Docker socket for provider
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - {{ traefik_network }}
    command:
      - --configFile=/etc/traefik/traefik.yml

networks:
  {{ traefik_network }}:
    external: true



