# /opt/traefik/docker-compose.yml

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped

    command:
      - "--configFile=/opt/traefik/traefik.yml"

    networks:
      - frontend

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /opt/traefik/traefik.yml:/opt/traefik/traefik.yml:ro
      - /opt/traefik/dynamic.yml:/opt/traefik/dynamic.yml:ro
      - /etc/traefik/acme.json:/etc/traefik/acme.json
      - /etc/traefik/cloudflare.env:/etc/traefik/cloudflare.env:ro

    env_file:
      - /etc/traefik/cloudflare.env

    labels:
      - "traefik.enable=true"

networks:
  frontend:
    external: true

