# Dynamic Traefik configuration (routers, middlewares)

http:
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true

    security-headers:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true

  routers:
    # Redirect all HTTP traffic to HTTPS
    redirect-web:
      rule: "HostRegexp(`{any:.+}`)"
      entryPoints:
        - web
      middlewares:
        - redirect-to-https
      service: noop

    # Traefik dashboard at traefik.pearsalls.online
    traefik-dashboard:
      rule: "Host(`traefik.pearsalls.online`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cf
      service: api@internal
      middlewares:
        - security-headers

  services:
    # Noop service needed for HTTP redirect router
    noop:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1"
        passHostHeader: false
