http:
  routers:
    traefik-dashboard:
      rule: "Host(`proxy.pearsalls.online`)"
      service: "api@internal"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare

    portainer:
      rule: "Host(`portainer.pearsalls.online`)"
      entryPoints:
        - websecure
      service: portainer
      tls:
        certResolver: cloudflare

    portainer-http:
      rule: "Host(`portainer.pearsalls.online`)"
      entryPoints:
        - web
      service: portainer
      middlewares:
        - redirect-to-https

  services:
    portainer:
      loadBalancer:
        servers:
          - url: "http://portainer:9000"

  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
