http:
  routers:
    traefik-dashboard:
      rule: "Host(`proxy.{{ traefik_domain }}`)"
      service: "api@internal"
      entryPoints:
        - websecure

http:
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
