entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /dynamic.yml

api:
  dashboard: true
  insecure: false

log:
  level: DEBUG

certificatesResolvers:
  cloudflare:
    acme:
      email: {{ traefik_email }}
      storage: {{ traefik_acme_storage }}
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
