services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: always
    env_file:
      - {{ traefik_env_file }}
    command:
      - --providers.docker=true
      - --providers.file.filename=/dynamic.yml
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.cloudflare.acme.email={{ traefik_email }}
      - --certificatesresolvers.cloudflare.acme.storage={{ traefik_acme_storage }}
      - --certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /opt/traefik/traefik.yml:/traefik.yml
      - /opt/traefik/dynamic.yml:/dynamic.yml
      - {{ traefik_acme_storage }}:{{ traefik_acme_storage }}
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - {{ traefik_network }}

networks:
  {{ traefik_network }}:
    external: true
