[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/cloudflared tunnel run {{ cloudflared_tunnel_id }} --config {{ cloudflared_config_dir }}/config.yml
Restart=always
User=root

[Install]
WantedBy=multi-user.target

