tunnel: {{ cloudflared_tunnel_id }}
credentials-file: {{ cloudflared_config_dir }}/{{ cloudflared_tunnel_id }}.json

ingress:
{% for item in cloudflared_ingress | default([]) %}
  - hostname: {{ item['hostname'] }}
    service: {{ item['service'] }}
{% endfor %}
  - service: http_status:404
